.cart {
	margin: 18rem 10rem;
}

.cart h2 {
	font-weight: 700;
	font-size: 3.2rem;
	text-transform: uppercase;
	margin-bottom: 6rem;
}

.cart-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 2px solid #e5e5e5;
	padding: 2rem 0;
	width: 90%;
}

.cart-item__buttons {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cart-item__buttons img {
	cursor: pointer;
}

.cart-item__amount {
	font-size: 2.4rem;
	font-weight: 500;
	margin: 3rem 0;
}

.cart-item__gallery {
	position: relative;
}

.cart-item__image {
	width: 140px;
	height: 180px;
	object-fit: contain;
	margin-left: 1.5rem;
}

.cart-item__arrows {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 1.6rem;
	margin-bottom: 1.6rem;
}

.cart-item__arrows .arrow {
	width: 24px;
	height: 24px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.73);
	margin-left: 0.8rem;
	cursor: pointer;
}

.cart-total {
	border-top: 2px solid #e5e5e5;
	padding: 3.2rem 0;
	width: 90%;
	font-size: 2.4rem;
	font-weight: 400;
}

.cart-total .total {
	margin-top: 2.4rem;
	margin-bottom: 2rem;
	font-weight: 500;
}

.cart-total .btn {
	padding: 1.3rem 12rem;
}
