.product-attr {
	margin-top: 4rem;
}

.product-attr__name {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 1;
	text-transform: uppercase;
}

.product-attr__attributes {
	display: flex;
	margin-top: 1rem;
}
