/* NavBar component styles */
.navbar {
	padding: 2rem 10rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: white;
}

.navbar ul {
	list-style: none;
	display: flex;
}

.navbar__logo {
	margin-right: 15rem;
}

.navbar__item {
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.2;
	padding: 3rem;
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

.navbar__item.active {
	color: #5ece7b;
	border-bottom: 2px solid #5ece7b;
}
