@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@400;700&display=swap");
/* @import url('https://unpkg.com/@csstools/normalize.css'); */

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/* setting default font to 1rem = 10 px */
	font-size: 62.5%;
}

body {
	font-family: "Raleway", sans-serif;
	/* font-family: 'Roboto', sans-serif; */
	font-weight: 400;
	line-height: 1.6;
	font-size: 1.8rem;
	/* background-color: white; */
	/* color: black; */
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}
